@font-face {
    font-family: "아보레토";
    src: url(../font/Aboreto-Regular.ttf);
}

.subtypo1{
    font-family: "아보레토";
}

/* Aboreto 서체를 파일형식으로 저장해놨고 클래스명을 지정했기 때문에 추후 해당 서체를 쓸 일이 있으면 태그에 subtypo1로 클래스명을 부여하면 됨!!! */