html{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 400;
}

.abobo{
    font-family: "아보레토";
}

.dropdown{
    width: 1600px;
    margin: 0 auto;
    margin-left: calc(50% - 800px);
}

header .dropdown{
    display: flex;
    justify-content: space-between;
    background-color: white;
    line-height: 0;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0 0 20px 20px;
}

.logo img{
    width: 100px;
    height: 100px;
}

.dropdown .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 66px;
}

.menu>li{
    max-height: 100px;
    overflow: hidden;
    transition: all 1.5s ease 0s;
}
.menu>li:hover{
    max-height: 1000px;
}

.menu>li>a{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
}

.menu>li>ul>li{
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner{
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
    margin-top: 100px;
}

.banner h1{
    color: white;
    font-size: 140px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}