html{
    font-size: 20px;
}

ul{
    list-style: none;
}

.button-type{
    border: 3px solid forestgreen;
    display: inline-block;
    /* display: block;을 하지 않은 이유는 한 줄 전체를 차지하면서 줄바꿈이 발생하기 때문이다. */
    /* 보통 클릭 가능한 UI 요소(버튼)를 만들기 위해 span에 display: inline-block;을 준다. */
    padding: 0.2rem 1.5rem;
    cursor: pointer;
}

.font-controler{
    position: fixed;
    right: 3rem;
    top: 0;
}

.font-controler ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chip{
    display: inline-block;
    padding: 0.5rem;
    background-color: palevioletred;
    border-radius: 6px;
    color: navy;
}

/* span 태그는 아무 의미(semantic)를 가지지 않는 인라인 컨테이너 태그로, 보통 css나 자바스크립트를 적용하기 위해 특정 부분을 묶는 용도로 사용한다.   */
/* span태그의 특징은 텍스트 흐름 안에서만 존재하는 인라인 요소로 줄바꿈이 발생하지 않고, width와 height 적용이 불가하며, padding이 위아래로 제대로 적용되지 않고, 버튼처럼 박스 형태를 만들기 어렵다. */