@media (max-width: 1024px){
    html{
        font-size: var(--base-pad);
    }

    .common-frame{
        width: auto;
        margin: 0 2rem;
        padding: 6rem 0;
    }

    .common-frame h2{
        font-size: 80px;
    }
    .wrap{
        background: url(../img/bg1024.png) no-repeat 50% -3% / 100% auto;
    }

    .gallery figure{
        flex: 1;
        aspect-ratio: 1/1;
        line-height: 0%;
    }

    .gallery.type2 figure{
        flex: 1;
        aspect-ratio: 1/1;
        line-height: 0%;
    }
}