*{
    margin: 0;
    padding: 0;
}

.box{
    height: 5000px;
    background-color: powderblue;
}

.btn-top{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 10px steelblue;
    cursor: pointer;
    transition: all 1s ease 0s;
    transform: translateX(300px);
}

.btn-top.on{
    transform: translateX(0px);
}

.gnb{
    display: flex;
    gap: 1rem;
    list-style: none;
    position: fixed;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    background-color: aliceblue;
    box-shadow: 0 0 10px steelblue;
    border-radius: 20px;
    padding: 0 3rem;
    text-transform: uppercase;
    /* opacity: 0;
    pointer-events: none; */
    transition: all 1s ease 0s;
    transform: translate(-50%,-200px);
    /* 이전에 gnb메뉴바를 중앙에 위치시키기 위해 transform을 사용했기 때문에 이후에 마우스 휠을 내리면 메뉴바를 올리기 위해서는 x와 y의 좌표를 같이 써준다! */
}

.gnb.on{
    /* opacity: 1;
    pointer-events: auto; */
    transform: translate(-50%,0px);
}
/* 투명도를 이용해서 사라졌다가 나타나게 할 수 있고, 또는 transform을 이용해서 화면 밖으로 나갔다가 다시 들어오게 만들 수도 있으니 둘 중 하나 선택해서 사용! */

.gnb li a{
    display: block;
    padding: 0.6rem 1.2rem;
    color: midnightblue;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}