*{
    margin: 0px;
    padding: 0px;
}
.a{
    width: 200px;
    border: 10px solid black;
}
.b{
    width: 300px;
    border: 10px solid pink;
    padding: 20px;
}
.c{
    width: 400px;
    border: 10px solid red;
    padding: 30px;
    box-sizing: border-box; 
}
/* a+b+c박스의 가로사이즈의 합은? 980 */
/* 220+360+400 */

.g{
    width:200px;
    height:200px;
    padding:10px 20px;
    border:10px solid red;
}
.h{
    width:300px;
    height:300px;
    padding:10px 20px 30px;
    border-bottom:10px solid blue;
}
.i{
    width:300px;
    border:10px solid green;
    margin-top:30px;
    padding:10px 20px 30px 40px;
}
.i h1{
    padding:20px;
}
/* g가로사이즈+g세로사이즈+h세로사이즈+h1컨텐트박스너비의 합은? 1110*/
/* 260+240+350+260 */