*{
    padding: 0px;
    margin: 0px;
}
h1{
    /* border: 1px solid red; */
    border-top: 5px solid gold;
    border-left: 1px solid red;
    border-bottom: 5px dashed green;
    border-right: 1px solid blue;
    padding: 50px;
    margin: 50px;
}
p{
    border: 1px solid blue;
    padding-top: 100px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 150px;
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-left: 50px;
}
address{
    /* border: 1px solid green; */
    margin-top: 50px;
}
.a{
    width: auto;
    height: auto;
    width: 300px;
    height: 300px;
    border: 10px solid black;
    padding: 30px;
    box-sizing: content-box;
}
.b{
    width: auto;
    height: auto;
    width: 300px;
    height: 300px;
    border: 10px solid blue;
    padding: 30px;
    box-sizing: border-box;
}
strong{
    border: 1px solid green;
    /* display: inline; */
    /* display: block; */
    display: inline-block;
}