html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.abo{
    font-family: "아보레토";
}

header{
    border-bottom: 2px solid #BE0707;
}

.common-frame{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 100px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.menu li{
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 38px 20px;
}

.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    color: white;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}