html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

header{
    border-bottom: 2px solid #BE0707;
}

.common-frame{
    width: 1600px;
    margin: 0 auto;
    line-height: 0;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 5rem;
    height: 5rem;
}
.logo a{
    display: block;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gnb{
    display: flex;
}

.gnb li a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.logo{
        width: 5rem;
        height: 5rem;
    }
.logo a{
        display: block;
        height: 100%;
    }
.logo a img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    color: white;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.hiddenGnb{
    display: none;
}

.headermobile{
    display: none;
}

@media(max-width:5120px){
    html{
        font-size: var(--base-wide);
    }
}

@media(max-width:3840px){
    html{
        font-size: var(--base-wide);
    }
}

@media(max-width:1920px){
    html{
        font-size: var(--base-pc);
    }
}

@media(max-width:1024px){
    html{
        font-size: var(--base-pad);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
    .banner{
        height: 600px;
    }
    .banner h1{
        font-size: 80px;
    }
}

@media(max-width:900px){
    .hiddenGnb{
        display: block;
        /* 모바일에서만 보이도록 기본 설정을 none으로 해놨음. 따라서 다시 나타나도록 해주어야 함 */
        position: fixed;
        left: 0;
        top: 0;
        /* 모바일용 메뉴를 화면 전체를 덮으면서 브라우저 화면(viewport)에 고정하기 위해 적용함. 스크롤을 했을때 메뉴가 아닌 다른 화면으로 넘어가면 안되기 때문 */
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(100%);
        /* 자기 자신의 너비(=100%)만큼 오른쪽으로 이동 즉, 화면 밖으로 숨겨진 상태 */
        transition: all 0.5s ease 0s;
        z-index: 1000;
        /* 모바일 메뉴가 다른 모든 요소 위에 올라오게 하기위해 사용. position을 사용했을 때만 z-index 이용 가능 */
    }
    .hiddenGnb.on{
        transform: translateX(0%);
    }
    /* hiddenGnb와 on클래스를 동시에 가지고 있을때 적용 */
    /* on클래스는 자바스크립트에서 추가한 클래스 */
    .hdTop{
        border-bottom: 1px solid black;
    }
    .hdTop .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* 로고와 버튼이 가로로 정렬되어있고, 메인축을 기준으로 양쪽 끝에 배치되며 교차축을 기준으로 가운데 정렬이 됨 */
    }
    .hdBot{
        margin-top: 1rem;
    }
    .hdBot ul li{
        padding: 1rem 0;
        border-bottom: 1px solid black;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    header{
        display: none;
        /* 모바일용 헤더가 보여야하기 때문에 일반 헤더는 안보이도록 만듬 */
    }
    .headermobile{
        display: block;
        /* 모바일용 헤더가 일반적인 상황에서는 보이지 않도록 만든 것을 다시 보이도록 만듬 */
    }
    .headermobile .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* 로고와 버튼이 가로로 정렬되어있고, 메인축을 기준으로 양쪽 끝에 배치되며 교차축을 기준으로 가운데 정렬이 됨 */
    }
}
/* 화면이 900px 이하일 때만 적용(모바일 전용 css) */

@media(max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
    .banner{
        height: 500px;
    }
    .banner h1{
        font-size: 50px;
    }
}