html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.abo{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.wrap{
  background: url(../img/background.png) repeat-x 0% 721px;
}

.banner{
  height: 599px;
  background: url(../img/banner_bg.png) no-repeat 50% 74% / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 150px 150px;
}

.banner h1{
  color: white;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 200px;
}

.main{
  width: 1600px;
  margin: 0 auto;
}

.deco{
  font-size: 150px;
  line-height: 90%;
  text-align: center;
  text-transform: uppercase;
  background: url(../img/deco.svg) no-repeat 50% 0%;
}

.title p{
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}

.title p em{
  color: #770000;
}


/* 수정중~~ */