h2{
    color: orange;
    background-color: green;
    font-size: 20px;
}
h2{
    color: blue;
    color: white;
}
h2#a{
    color: blueviolet;
    background-color: aliceblue;
    font-size: 30px;
}
li#a{
    color: aquamarine;
}
.b{
    font-size: 20px;
    background-color: palevioletred;
}
p.c{
    font-size: 40px;
    color: black;
}
h2.c{
    color: yellow;
}
p.a.b{
    color: wheat;
}
.box h2{
    background-color: gray;
}
div.box>h2{
    background-color: blanchedalmond;
    color: olive;
}