html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.aboreto-r{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    background: url(../img/background.png) repeat-x 0% 722px;
}

.banner{
    /* border: 1px solid red; */
    height: 599px;
    background: url(../img/banner_bg.png) no-repeat 50% 74% / cover;
    border-radius: 0 0 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    /* border: 1px solid orange; */
    color: white;
    font-size: 50px;
    line-height: 100%;
    text-transform: uppercase;
}

.common-frame{
    /* border: 1px solid yellow; */
    width: 1600px;
    margin: 0 auto;
}

.deco-title{
    /* border: 1px solid green; */
    font-size: 150px;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 200px;
    background: url(../img/deco.svg) no-repeat 50% 0%;
    margin-bottom: 40px;
}

.desc1{
    /* border: 1px solid blue; */
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}

.desc1 em{
    color: #770000;
}

.cafe-title{
    margin-bottom: 100px;
}

.cafe-gal{
    display: flex;
    gap: 20px;
}

.cafe-gal figure{
    /* border: 1px solid navy; */
    flex: 1;
    aspect-ratio: 790/434;
    line-height: 0;
    margin-bottom: 50px;
}

.cafe-gal figure img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.cafe-script h3{
    font-size: 40px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.cafe-script h3 em{
    color: #770000;
}

.cafe-script h3+p{
    margin-bottom: 10px;
}

.cafe-script p{
    font-size: 20px;
    line-height: 140%;
}

.cafe-script p strong{
    font-weight: 700;
}