@media (max-width: 768px){
    html{
        font-size: var(--base-mo);
    }

    .common-frame{
        width: auto;
        margin: 0 1rem;
        margin-bottom: 218px;
    }

    .deco-title{
        font-size: 50px;
        background: url(../img/deco.svg) no-repeat 50% -100px;
    }

    .banner{
        border-radius: 0 0 80px 80px;
    }

    .cafe-gal{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cafe-gal figure{
        height: 200px;
        flex: 1;
        aspect-ratio: 365/200;
        line-height: 0;
    }
}