@media (max-width: 1920px){
    html{
        font-family: 'Pretendard', sans-serif;
        font-size: var(--base-pc);
        font-weight: 400;
    }

    .wrap{
        padding-bottom: 6rem;
    }

    .common-frame{
        width: 1600px;
        margin: 0 auto;
    }

    .title{
        padding-top: 8rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 100%;
        text-transform: uppercase;
    }

    .title+p{
        font-size: 1rem;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
    }

    .banner{
        height: 700px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background: url(../img/hero-banner.jpg) no-repeat 50% 50% / cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .banner h2{
        width: 1600px;
        font-weight: 400;
        font-size: 150px;
        line-height: 90%;
        text-transform: uppercase;
        color: white;
    }

    .title2{
        font-weight: 400;
        font-size: 2rem;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .title2+p{
        font-size: 1rem;
        line-height: 140%;
        text-align: center;
        margin-bottom: 3.5rem;
    }

    .gallery{
        display: flex;
        gap: 1rem;
    }

    .gallery>li{
        flex: 1;
    }

    .gallery figure{
        aspect-ratio: 1/1;
        line-height: 0%;
        margin-bottom: 1rem;
    }

    .gallery figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .gallery h4{
        margin-bottom: .5rem;
        font-weight: 700;
        font-size: 1rem;
        line-height: 140%;
        text-transform: capitalize;
    }

    .gallery h4+p{
        font-size: 1rem;
        line-height: 140%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* -webkit-box-orient 속성 값을 vertical로 반드시 설정해야 블록 컨테이너의 문자열을 지정한 줄 수만큼 제한할 수 있는 -webkit-line-clamp 속성이 동작하며, -webkit-line-clamp 속성 값을 제한할 줄 수로 설정한다. */
    /* overflow 속성 값을 hidden으로 하지 않으면 말줄임(...) 표시는 되지만 문자열이 나타나기 때문에 반드시 overflow 속성 값을 hidden으로 처리해야 한다. */
    /* padding 속성 값이 설정되어 있으면 여백에 문자열이 나타나므로 반드시 padding 속성 값은 설정하지 않아야 하며, 문자열의 줄 수가 제한 줄 수 보다 작으면 말줄임(...)은 표시는 적용되지 않는다. */
    /* 문자열의 줄 수가 제한 줄 수 보다 작을 경우 높이도 줄기 때문에 동일한 높이를 유지하고 싶을 경우에는 height 속성 값을 설정해야 하며, 동일하게 height 속성 값을 설정하기 위해서는 line-height 속성 값을 설정하고 제한 줄 수를 곱해서 height 속성 값으로 사용하면 된다. */
}