*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

html{
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

main{
    width: 1440px;
    margin: 75px auto;
}

main h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
}

main p{
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}

.banner{
    width: auto;
    height: 441px;
    background: url(../img/cafe.jpg) no-repeat 50% 50% / cover;
    margin-top: 100px;
    margin-bottom: 100px;
}


.values h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.values p{
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.values p:nth-of-type(3){
    margin-bottom: 0px;
}