@media (max-width: 1920px){
    html{
        font-family: 'Pretendard', sans-serif;
        font-size: var(--base-pc);
        font-weight: 400;
    }

    .inner-frame{
        width: 1440px;
        margin: 0 auto;
        margin-top: 75px;
        margin-bottom: 75px;
        text-align: center;
    }

    .inner-frame h1{
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 100%;
        text-transform: uppercase;
        padding: 1rem 0;
    }

    .script{
        margin-bottom: 5rem;
        line-height: 140%;
        text-transform: uppercase;
    }

    .banner{
        height: 441px;
        background: url(../img/cafe.jpg) no-repeat 50% 50% / cover;
        margin-bottom: 5rem;
    }

    .inner-frame h2{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 100%;
        text-transform: uppercase;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
    }

    .values li{
        margin-bottom: 0.5rem;
        line-height: 100%;
        text-transform: uppercase;
    }

    .values li:last-of-type{
        margin-bottom: 0;
    }
}