*{
    margin: 0;
    padding: 0;
}

.box{
    width: 800px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.box div{
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
}

.box5{
    background-color: lightgrey;
}
.box5 .a{
    background-color: red;
}
.box5 .b{
    background-color: green;
}
.box5 .c{
    background-color: blue;
}
.box5 .d{
    background-color: gold;
}
.box5 .e{
    background-color: pink;
}