*{
    margin: 0;
    padding: 0;
}

.box{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

section div{
    width: 100px;
    height: 100px;
}

.box{
    background-color: lightgrey;
}
section .a{
    background-color: red;
}
section .b{
    background-color: green;
}
section .c{
    background-color: blue;
}
section .d{
    background-color: gold;
}
section .e{
    background-color: pink;
}