html{
    font-family: 'Suit', sans-serif;
    font-size: var(--basic-font-pc);
}
main{
    margin-top: 100px;
    min-height: 60vh;
    /* 내용이 적어도, 최소한의 화면 높이는 60%를 차지하게 만든다는 뜻 */
}
h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}
h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}
h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}
h4{
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}
p{
    line-height: 140%;
    /* font-size 지정하지 않은 이유는 상속되는 기본값이 bd1 값과 동일하기 때문 */
}
.fs-bd2{
    font-size: var(--fs-bd2);
}
.fs-det{
    font-size: var(--fs-det);
}
.fwr{
    font-weight: var(--fw-reg);
}
.fwm{
    font-weight: var(--fw-med);
}
.fwb{
    font-weight: var(--fw-bold);
}
.common-frame{
    width: 1440px;
    margin: 0 auto;
}
.sns{
    display: flex;
    gap: 1rem;
}
.sns img{
    height: 1.2rem;
}
.mo{
    display: none;
}
.pad{
    display: none;
}
.pc{
    display: block;
}
.btn-style{
    display: inline-flex;
    /* 내부 요소들을 가로정렬(flex)하면서, 버튼 자체는 줄 안에서 자연스럽게 inline요소처럼 배치됨 */
    padding: 0.25rem 0.75rem;
    align-items: center;
    gap: var(--space-normal);
    border-bottom: 1px solid white;
}
.btn-style:hover{
    background-color: var(--pm-color-800);
    color:white;
}
.pt100{
    color: var(--pt-color-100);
}

@media(max-width: 1440px){
    html{
        font-size: var(--basic-font-pad);
    }
    main{
        margin-top: 5rem;
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
        /* 보통 태블릿 기본 여백: 2rem ~ 3rem */
    }
    .mo{
        display: none;
    }
    .pad{
        display: block;
    }
    .pc{
        display: none;
    }
}

@media(max-width: 768px){
    html{
        font-size: var(--basic-font-mobile);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
        /* 보통 모바일 기본 여백: 1rem ~ 2rem */
    }
    .mo{
        display: block;
    }
    .pad{
        display: none;
    }
    .pc{
        display: none;
    }
}