.hero-slider{
    width:100%;
    height: calc(100vh - 100px);
}

.hero-slider .swiper-slide img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.swiper.hero-slider .pagination{
    display: flex;
    gap: var(--space-normal);
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
    z-index: 10;
}

.pagination>span{
    background-color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.pagination>span.swiper-pagination-bullet{
    opacity: 1;
}

.pagination>span.swiper-pagination-bullet-active{
    background-color: var(--pt-color-700);
}

.story{
    width: 1440px;
    margin: var(--space-3x-large) auto;
}

.story h1{
    margin-bottom: var(--space-2x-large);
    text-transform: uppercase;
    color: var(--pm-color-800);
}

.story-frame{
    display: flex;
    justify-content: space-between;
}

.story-frame h2{
    margin-bottom: var(--space-normal);
}

.story-frame h4{
    margin-bottom: var(--space-large);
}

.story-frame h4+p{
    margin-bottom: var(--space-normal);
}

.txt-story{flex: 1;}
.img-story{flex: 1;}
/* story-frame안에서 txt와 img 두 요소가 남은 공간을 나눠 가지는 비율을 의미 */
/* 보통 실무에서는 1:1, 4:6, 5:7, 3:9 정도의 비율로 나눔(화면이 커지거나 작아짐에 따라 달라짐) */

.philo{
    margin-top: 4rem;
}

.philo-list{
    display: flex;;
    gap: var(--space-normal);
}

.philo-list>li{
    flex:1;
}

.philo-list>li h3{
    margin-bottom: var(--space-large);
}

.philo-list>li h3+div{
    border-left: 0.2rem solid var(--pt-color-700);
    padding-left: var(--space-normal);
}

.philo-list>li h3+div p:nth-of-type(1){
    margin-bottom: var(--space-normal);
}

.menu-frame{
    margin-bottom: var(--space-3x-large);
}

.menu-frame h1{
    margin-bottom: var(--space-small);
}

.menu-frame h1+p{
    margin-bottom: var(--space-x-large);
}

.menu-frame .swiper-slide p:nth-of-type(1){
    margin-top: 1.5rem;
    margin-bottom: var(--space-small);
}

.signature>.common-frame>h1{
    color: var(--pm-color-800);
}

.best>.common-frame>h1{
    color: var(--pm-color-800);
}

.franchise{
    background: linear-gradient(30deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    /* 30도 기울기로 그라데이션 방향이 설정되어있고 시작색과 끝색이 동일하여 단색처럼 보인다. */
    /* #000이므로 검정색이고 0.5는 투명도 50%를 의미한다. 따라서 반투명 검은색 레이어가 씌워진다. */
    url(../img/franchise-bg.jpg) no-repeat 50% 50% / cover;
    /* 위에서 아래 순서로 쌓이며 반투명 검은색 레이어 밑에 배경이미지가 있는 상황이다. */
    color: white;
    padding: var(--space-3x-large) 0;
    text-align: center;
}

.franchise h1{
    margin-bottom: var(--space-small);
}

.franchise h1+p{
    margin-bottom: var(--space-x-large);
}

.franchise h2{
    margin-top: var(--space-3x-large);
    margin-bottom: var(--space-small);
}

.why{
    margin-top: var(--space-x-large);
    display: flex;
    gap: var(--space-normal);
    justify-content: space-between;
    text-align: center;
}

.why>li{
    background-color: rgba(75, 117, 34, 0.4);
    padding: var(--space-normal);
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    /* 배경색에 투명도가 존재해야만 위의 blur가 적용된다. */
}

.why>li>p:first-of-type{
    margin-bottom: var(--space-normal);
}

.why>li>p:last-of-type{
    width: 305px;
    font-size: var(--fs-bd2);
}

@media (max-width:1440px){
    
}
@media (max-width:768px){

}