header{
    background-color: white;
    border-bottom: 1px solid var(--pt-color-700);
    width: 100%;
    max-height: 100px;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

header:hover{
    max-height: 400px;
}

header .common-frame{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gnb-title{
    color: var(--pm-color-800);
    display: flex;
    justify-content: flex-start;
}

.gnb-title a:hover{
    color: var(--pt-color-700);
}

.gnb{
    display: flex;
    gap: 3rem;
    margin-right: 3rem;
}

.login{
    display: flex;
    gap: 1rem;
    padding: 0 0.5rem;
}

.gnb>li>a{
    font-size: var(--fs-bd2);
    font-weight: var(--fw-bold);
    margin-bottom: 2rem;
    max-height: 100px;
    display: flex;
    justify-content: center;
}

.gnb ul{
    font-size: var(--fs-bd2);
    font-weight: var(--fw-med);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header .sns{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .sns svg:hover path{
    stroke: var(--pt-color-700);
}

.login{
    font-size: var(--fs-det);
    font-weight: var(--fw-med);
    color: var(--pm-color-800);
}

.header-smart{
    display: none;
}

@media (max-width:1440px){
    header{
        display: none;
    }
    
    .header-smart{
        display: block;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid var(--pt-color-700);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
    }

    .header-smart .common-frame{
        display: flex;
        align-items: center;
    }

    .header-smart .logo img{
        height: 5rem;
    }

    .header-smart .btn-menu{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width:768px){
   
}