header{
    background-color: white;
    border-bottom: 1px solid var(--pt-color-700);
    width: 100%;
    max-height: 100px;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

header:hover{
    max-height: 400px;
}

header .common-frame{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gnb-title{
    color: var(--pm-color-800);
    display: flex;
    justify-content: flex-start;
}

.gnb-title a:hover{
    color: var(--pt-color-700);
}

.gnb{
    display: flex;
    gap: 3rem;
    margin-right: 3rem;
}

.login{
    display: flex;
    gap: 1rem;
    padding: 0 0.5rem;
}

.gnb>li>a{
    font-size: var(--fs-bd2);
    font-weight: var(--fw-bold);
    margin-bottom: 2rem;
    max-height: 100px;
    display: flex;
    justify-content: center;
}

.gnb ul{
    font-size: var(--fs-bd2);
    font-weight: var(--fw-med);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header .sns{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .sns svg:hover path{
    stroke: var(--pt-color-700);
}

.login{
    font-size: var(--fs-det);
    font-weight: var(--fw-med);
    color: var(--pm-color-800);
}

.header-smart{
    display: none;
}

.header-smart-hidden{
    display: none;
}

.btn-close img{
    height: 1.2rem;
}

@media (max-width:1440px){
    .header-smart-hidden{
        /* transform: translateX(-100%); */
        filter: blur(50px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.7s ease 0s;
    }

    .header-smart-hidden.on{
        /* transform: translateX(0%); */
        filter: blur(0px);
        opacity: 1;
        pointer-events: auto;
    }

    header{
        display: none;
    }
    
    .header-smart{
        display: block;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid var(--pt-color-700);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2000;
    }

    .header-smart .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0;
        position: relative;
    }

    .header-smart .logo img{
        height: 5rem;
    }

    .header-smart .btn-menu{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0;
    }

    .btn-menu img{
        height: 1.2rem;
    }

    .header-smart-hidden{
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3000;
        background-color: white;
    }

    .menu-top{
        border-bottom: 1px solid var(--pt-color-700);
    }

    .menu-top .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0;
    }

    .menu-top .logo img{
        height: 5rem;
    }

    .menu-content{
        max-height: calc(100vh - 8rem);
        overflow: auto;
        padding-top: 1.5rem;
        box-sizing: border-box;
    }

    .gnb-smart{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2rem 1rem;
        font-size: var(--fs-bd2);
    }

    .gnb-smart a:hover{
        color: var(--pt-color-700);
    }

    .gnb-smart>li>a{
        font-weight: var(--fw-bold);
        display: block;
        border-left: 2px solid var(--pt-color-700);
        padding-left: 0.5rem;
        margin-bottom: 1rem;
        color: var(--pm-color-800);
    }

    .gnb-smart ul{
        color: var(--pm-color-800);
        font-weight: var(--fw-med);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu-sns{
        height: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 2rem;
    }

    .menu-sns .sns svg:hover path{
        stroke: var(--pt-color-700);
    }

    .btn-more{
        display: none;
    }

    .menu-login li{
        padding-top: 1.5rem;
    }

    .menu-login a:hover{
        color: var(--pt-color-700);
    }
}

@media (max-width:768px){
    .btn-more{
        display: block;
    }

   .gnb-smart{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }

    .gnb-smart>li{
        max-height: 40px;
        overflow: hidden;
        position: relative;
        transition: all 0.5s ease 0s;
    }

    .gnb-smart>li.on{
        max-height: 300px;
    }

    .gnb-smart>li .btn-more img{
        transition: all 0.5s ease 0s;
    }

    .gnb-smart>li.on .btn-more img{
        transform: rotate(180deg);
    }

    .gnb-smart>li>a{
        height: 40px;
        display: flex;
        align-items: center;
        border-left: none;
        padding-left: 0;
        margin-bottom: 0;
        color: var(--pm-color-800);
        border-bottom: 1px solid white;
        box-sizing: border-box;
    }

    .gnb-smart ul{
        gap: 0;
    }

    .gnb-smart ul a{
        height: 30px;
        display: flex;
        align-items: center;
    }

    .menu-sns{
        height: 2rem;
    }

    .btn-more{
        height: 40px;
        padding-left: 20px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .menu-content{
        padding-top: 1rem;
    }
}